block content
  h1= title
  p  #{title}
  h1 #{cl.Unit}
  img(src=`/images/${cl.Unit}.png`)
  h1 Unit: #{cl.Unit}
  h1 Cost: #{cl.Cost}    
  h1 Hit_Speed: #{cl.Hit_Speed}
  h1 Speed: #{cl.Speed}
  h1 Deploy_Time: #{cl.Deploy_Time}
  h1 Range: #{cl.Range}
  h1 Target: #{cl.Target}
  h1 Count: #{cl.Count}
  h1 Transport: #{cl.Transport}
  h1 Type: #{cl.Type}
  h1 Rarity: #{cl.Rarity}